*{
    margin:0;
    padding:0;
}


.container {
    border-top: 5px solid #000000;
    height: 600px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.content {
    margin:0 auto;
    width:501px;
}